 /* * {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around ;
  margin-left: 15px;
}
.card {
  margin-bottom: 2em;
  padding-bottom: 2em;
  background: #fff;
  position: relative;
  height: 400px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card img {
  height: 250px;
}
.card:hover {
  transform: translateY(20px);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5),rgba(0, 176, 155, 0.5));
  z-index: 10;
  transition: 0.5s all;
  opacity: 0;
}
.card-info h5 {
  height: 70px;
}
.card-info {
  padding: 10px;
}
.card:hover::before {
  opacity: 1;
}
.card .info {
  z-index: 11;
  display: none;
  transform: translateY(50px);
  transition: 0.5s all;
}
.card:hover .info {
  display: block;
  transform: translateY(0);
  position: relative;
  bottom: 120px;
}
.card .info h5 {
  margin: 0;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card .info .btn:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card .info .btn:hover .btn-1 {
  color: red;
}
.card .info .btn:hover .btn-2 {
  color: green;
}
.card:hover .card-info {
  opacity: 0;
}
.info p {
  margin: 10px;
}
/* .flip-card {
  height: 400px;
  margin-bottom: 2em;
}

.flip-card-front img {
  width: 100%;
  height: 50%;
}
.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  
  
}
.flip-card-back .back-header {
  height: 30%;
  text-align: center;

}
.flip-card-back .back-header img {
  width: 100%;
  
}
.flip-card-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}
.flip-card-back .back-footer {
  height: 55%;
  padding: 0 15px;
}
.back-footer a {
  text-decoration: none;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 7px 10px;
  border: 1px solid #fff;
  margin-top: 30px;
  transition: 0.5s;
}
.back-footer a:hover {
  background: #000;
  border: 1px solid #000;
} */ 